In [37]:
import nltk
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
import string 
string.punctuation
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer,TfidfTransformer
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score, classification_report
from sklearn.ensemble import RandomForestClassifier
import pickle
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [16]:
# import nltk
# nltk.download('stopwords')

stopword = set(stopwords.words('english'))

In [8]:
ps = PorterStemmer()

In [9]:
data = pd.read_csv("spam.csv")
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
data = data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1)

In [11]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
def clean_text(text):
    text = ps.stem(text)
    text = text.lower()
    text = text.split()
    
    text = ' '.join(word for word in text if word not in stopword)
    return text
    
data['clean_text'] = data['v2'].apply(lambda x:clean_text(x) )
data

,v1,v2,clean_text
0,ham,"Go until jurong point, crazy.. Available only ...","go jurong point, crazy.. available bugis n gre..."
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor... u c already say...
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah think goes usf, lives around though"
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,2nd time tried 2 contact u. u �750 pound prize...
5568,ham,Will �_ b going to esplanade fr home?,�_ b going esplanade fr home?
5569,ham,"Pity, * was in mood for that. So...any other s...","pity, * mood that. so...any suggestions?"
5570,ham,The guy did some bitching but I acted like i'd...,guy bitching acted like i'd interested buying ...
5571,ham,Rofl. Its true to its name,rofl. true nam

In [24]:
X_train,X_text,y_train,y_text = train_test_split(data.clean_text, data.v1, test_size=0.3)

In [29]:
pnb = Pipeline([('vect', CountVectorizer()),
                ('tfidf',TfidfTransformer()),
                ('mnb',LogisticRegression())
                ])

In [30]:
pnb.fit(X_train,y_train)

Pipeline(steps=[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('mnb', LogisticRegression())])

In [31]:
pnb.predict(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'])

array(['ham'], dtype=object)

In [32]:
pickle.dump(pnb,open('spamnotspam.pkl','wb'))

In [38]:
print(classification_report(y_text,pred_test))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98      1443
        spam       0.98      0.71      0.83       229

    accuracy                           0.96      1672
   macro avg       0.97      0.85      0.90      1672
weighted avg       0.96      0.96      0.96      1672

In [34]:
pred_test = pnb.predict(X_text)